.time-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

    .field-outer-wrapper{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .field-inner-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 50%;
            width: 80%;
        }
            .field-inner-wrapper > label {
                font-size: 2rem;
                font-weight: 700;
                text-transform: uppercase;
                color: hsl(320, 3%, 19%);
                height: 20%;
            }
            .field-inner-wrapper > .time-input-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                width: 100%;
                height: 70%;
                padding: 5px;
                border-radius: 20px;
                background-color: #ffffff
            }
            .time-input-wrapper>input{
                font-size: 6rem;
                height: 100%;
                width: 50%;
                text-align: center;
                background-color: hsl(320, 3%, 19%);
                color: #ffffff
            }
            .time-input-wrapper>button{
                width: 25%;
                height: 100%;
                font-size: 5rem;
                background-color: transparent;
                color: hsl(320, 3%, 19%);
            }

    .time-range-confirm{
        width: 50%;
        height: 95%;
        border-radius: 20px;
        background-color: hsl(320, 3%, 19%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
        .time-range-confirm > p{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60%;
            font-size: 2rem;
            font-weight: 700;
            color: #ffffff;
        }
        .time-range-confirm > p > span{
            font-size: 4rem;
            font-weight: 300;
        }
        .time-range-confirm > .link {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .time-range-confirm > .link > button{
                width: 40%;
                height: 100%;
                padding: 20px;
                font-size: 1.5rem;
                font-weight: 700;
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 0.03s ease-in-out;
            }
                .time-range-confirm > .link > button:hover{
                    background-color: #000000;
                    color: #ffffff;
                }
